# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
wheels/
*.manifest
*.spec

# PyInstaller
*.manifest
*.spec

# VS Code
.vscode/
*.code-workspace

# Pytest
.pytest_cache/
cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Redis dump files
dump.rdb
appendonly.aof

# Logs
*.log

# Pydantic
*.env

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Celery
celerybeat-schedule
celerybeat-schedule.db
